<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
<!--
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'problemeditor/style.css' %}" />
<link rel="stylesheet" href="{% static 'problemeditor/font-awesome-4.7.0/css/font-awesome.min.css' %}" />

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
 MathJax.Hub.Config({TeX: {Macros: {cis: "\\text{cis}\\,", vb: ["{\\left\\langle#1\\right\\rangle}",1],pop: ["{\\text{pop}\\,(#1,#2)}",2,""]}}});
</script>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
</script>
<script src="{% static 'js/latexlib.js' %}"></script>

    <title>{% block title %}UMO Editor{% endblock %}</title>

{% block head %} {% endblock %}
</head>

<body style="position:relative" data-spy="scroll" data-target="#navbar-topics" data-offset="60">
    <div class="page-header">
{% if user.is_authenticated %}
<p class="top-menu">Hello, {{ user.username }}! <small>(<a href="{% url 'logout' %}">Log out</a>) (<a href="{% url 'change_password' %}">Change Password</a>)</small></p>
    {% else %}
        <p><small><a href="{% url 'login' %}" class="top-menu">Login</a></small></p>
    {% endif %}
    <h1>UMO Editor</h1>
    </div>
{% if user.is_authenticated %}
<div class="navig">
<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link{% if nbar == 'problemeditor' %} active{% endif %}" href="/">Problem Editor</a></li>
  <li class="nav-item"><a class="nav-link{% if nbar == 'mocklists' %} active{% endif %}" href="/mocklists/">Mock Lists</a></li>
  <li class="nav-item"><a class="nav-link{% if nbar == 'pasttests' %} active{% endif %}" href="/pasttests/">Past Tests</a></li>

</ul>
</div>
{% endif %}


<div class="content">
  {% block content %}

  {% endblock %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>




