<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<!--
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'problemeditor/style.css' %}" />
<link rel="stylesheet" href="{% static 'problemeditor/font-awesome-4.7.0/css/font-awesome.min.css' %}" />

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
 MathJax.Hub.Config({TeX: {Macros: {cis: "\\text{cis}\\,", vb: ["{\\left\\langle#1\\right\\rangle}",1],pop: ["{\\text{pop}\\,(#1,#2)}",2,""]}}});
</script>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
</script>
<script src="{% static 'js/latexlib.js' %}"></script>

    <title>{% block title %}UMO Editor{% endblock %}</title>

{% block head %} {% endblock %}
</head>

<body style="position:relative" data-spy="scroll" data-target="#navbar-topics" data-offset="60">
  <div class="page-header">
    {% if user.is_authenticated %}
    <p class="top-menu">Hello, {{ user.username }}! <small>(<a href="{% url 'logout' %}">Log out</a>) (<a href="{% url 'change_password' %}">Change Password</a>)</small></p>
    {% else %}
    <p><small><a href="{% url 'login' %}" class="top-menu">Login</a></small></p>
    {% endif %}
    <h1>UMO Editor</h1>
  </div>
  {% if user.is_authenticated %}
  <div class="navig">
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link{% if nbar == 'problemeditor' %} active{% endif %}" href="/">Problem Editor</a></li>
      <li class="nav-item"><a class="nav-link{% if nbar == 'mocklists' %} active{% endif %}" href="/mocklists/">Mock Lists</a></li>
      <li class="nav-item"><a class="nav-link{% if nbar == 'pasttests' %} active{% endif %}" href="/pasttests/">Past Tests</a></li>

    </ul>
  </div>
  {% endif %}
  

  <div class="content">
    {% block content %}

    {% endblock %}
  </div>



  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>




