{% extends './base.html' %}

{% block head %}<script type="text/javascript" language="JavaScript">
function HideContent(d) {
document.getElementById(d).style.display = "none";
}
function ShowContent(d) {
document.getElementById(d).style.display = "block";
}
function ReverseDisplay(d) {
if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
else { document.getElementById(d).style.display = "none"; }
}
</script>

{% endblock %}

{% block title %}Problem: {{readablelabel}}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">All Problems</a></li>
  <li class="active">{{problem.label}}</li>
</ol>

 <h1>{{problem.label}}</h1>
<div class="form-group">

<label>Problem Text:</label>
{% autoescape off %}{{problem.current_version.problem_latex|linebreaks}} {% endautoescape %}  [{{problem.label}}]

{% if request.user.is_superuser %}<p><a href="edittext/">Edit LaTeX Code</a></p>{% endif %}
</div>
{% if problem.current_version.author_name != '' %}<p>Author: {{problem.current_version.author_name}}</p>{% endif %}

<label>Difficulty:</label>
<p>
{{problem.current_version.difficulty}}
</p>

<label>Solutions:</label>
  {% if sols|length == 0 %}<p>No Solutions Yet</p>
{% else %}
<p>  <a href="javascript:ReverseDisplay('solutions')">
    Click to show/hide solutions ({{sols.count}}).
  </a></p>

  <div id="solutions" style="display:none">
{% for sol in sols %}
<label>Solution {{forloop.counter}}{% if sol.author_name != "" %} ({{sol.author_name}}){% endif %}:</label>
  <p><small>(<a href="editsolution/{{sol.pk}}/">Edit</a>)</small> {% if request.user.is_superuser %}<small>(<a href="deletesolution/{{sol.pk}}/">Delete</a>)</small>{% endif %}</p>
{% autoescape off %}  {{sol.solution_latex|linebreaks}} {% endautoescape %}
  {% endfor %}

  </div>

{% endif %}
<p>  <button type="button" class="save btn btn-default" onclick="location.href='newsolution/'">New Solution</button></p>
<br>

<div class="form-group">
<p>
  <label>Status:</label>
</p>
<p>
{% if problem.problem_status == "PN" %}
Propose for current year
{% else %}
{% if problem.problem_status == "PL" %}
Propose for future year
{% else %}
{% if problem.problem_status == "MI" %}
Needs minor revision
{% else %}
{% if problem.problem_status == "MJ" %}
Needs major revision
{% else %}
{% if problem.problem_status == "TR" %}
Trash
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
</p>
</div>
<label>Comments:</label>
<div class="comments-list">
  {% for com in coms %}
  <div class="media">
    <p class="pull-right"><small>{{com.created_date}}</small></p>
    <div class="media-body">
      <h3 class="media-heading user_name">{{com.author_name}}</h3>
      <p>{{com.comment_text|linebreaks}}</p>
      {% if request.user.is_superuser %}<p><small>(<a href="deletecomment/{{com.pk}}/">Delete</a>)</small></p>{% endif %}
      
    </div>
  </div>
  {% endfor %}
</div>
{% if coms|length == 0 %}<p>No Comments Yet</p>{% endif %}
<p><button type="button" class="save btn btn-default" onclick="location.href='newcomment'">New Comment</button></p>

<label>Other Versions:</label>
<div class="form-group">
{% if problem.versions.all.count > 1 %}
{% for v in problem.versions.all %}
{% if v != problem.current_version %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Version {{v.version_number}} ({{v.created_date}})</h3>
  </div>
  <div class="panel-body">
    {% autoescape off %}{{v.problem_latex|linebreaks}} {% endautoescape %}  
    
    {% if request.user.is_superuser %}<p><a href="edittext/{{v.pk}}">Edit LaTeX Code</a></p>{% endif %}
    {% if v.author_name != '' %}<p>Author: {{v.author_name}}</p>{% endif %}
    
    <label>Difficulty:</label>
    <p>
      {{v.difficulty}}
    </p>
    <label>Solutions:</label>
    <div class="form-group">
      {% if v.solutions.all|length == 0 %}<p>No Solutions Yet</p>
      {% else %}
      <p>  <a href="javascript:ReverseDisplay('solutionsv{{v.version_number}}')">
	  Click to show/hide solutions ({{v.solutions.count}}).
      </a></p>
      
      <div id="solutionsv{{v.version_number}}" style="display:none">
	{% for sol in v.solutions.all %}
	<label>Solution {{forloop.counter}}{% if sol.author_name != "" %} ({{sol.author_name}}){% endif %}:</label>
	{% autoescape off %}  {{sol.solution_latex|linebreaks}} {% endautoescape %}
	{% endfor %}
      </div>
      {% endif %}
    </div>

<form method="POST" class="post-form">{% csrf_token %}
      <button type="submit" class="save btn btn-primary" name="{{v.label}}">Make Current Version</button>
</form>
  </div>
</div>


{% endif %}

{% endfor %}
{% else %}
No other versions yet.
{% endif %}
</div>
<p><button type="button" class="save btn btn-default" onclick="location.href='newversion'">New Version</button></p>
{% endblock %}
