{% extends './base.html' %}

{% block title %}UMO: Edit Solution to {{problem.label}}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">All Problems</a></li>
    <li class="breadcrumb-item"><a href="/detailedview/{{problem.pk}}">{{problem.label}}</a></li>
    <li class="breadcrumb-item active">Edit Solution</li>
  </ol>
</nav>
<div class="container">
<div class="row">
<div class="col-xs-12">
    <h2>Edit Solution to {{problem.label}} (Version {{cv.version_number}})</h2>
    <form method="POST" class="post-form">{% csrf_token %}
{% autoescape off %}{{cv.problem_latex|linebreaks}} {% endautoescape %}  [{{problem.label}}]<br><br>
          <h3>Solution</h3>
	  {% autoescape off %}{{form.instance.solution_latex|linebreaks}} {% endautoescape %}
          {{ form.solution_text }} <br>
        <input type="submit" class="save btn btn-primary" name="save" value="Save">
    </form>
</div>
</div>
</div>
{% endblock %}
