{% extends './base.html' %}

{% block title %}Comments: {{problem.label}}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">All Problems</a></li>
    <li class="breadcrumb-item"><a href="/detailedview/{{problem.pk}}">{{problem.label}}</a></li>
    <li class="breadcrumb-item active">New Comment</li>
  </ol>
</nav>
<div class="container">
<div class="row">
<div class="col-xs-12">
    <h2>New Comment to {{problem.label}}</h2>
    <form method="POST" class="post-form">{% csrf_token %}
          {{ form.as_p}} <br>
        <button type="submit" class="save btn btn-primary">Save</button>
    </form>
</div>
</div>
</div>
{% endblock %}
