{% extends './base.html' %}

{% block title %}Add New Problem{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Past Tests</li>
  </ol>
</nav>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Past Tests</h2>
      {% if pasttests|length == 0 %}
      No Past Tests Available.
      {% else %}
      <div class="list-group">
	{% for t in pasttests %}
	<a href="{{t.pk}}" class="list-group-item list-group-item-action">{{t.year}} UMO</a>
	{% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
