{% extends "./base.html" %}

{% block title %}{% endblock %}


{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../">Past Tests</a></li>
    <li class="breadcrumb-item active">{{year}} UMO</li>
  </ol>
</nav>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>{{year}} UMO</h2>

      <div class="list-group">
	{% for p in problems %}
	<div class="list-group-item">
	  <div class="row">
	    <div class="col-1">
	      {{forloop.counter}}.<br>
	    </div>
	    <div class="col-11">
	    
	    <table width="100%">
	      <tr>
		<td>
		  <p>
		    {% autoescape off %}{{p.current_version.problem_latex|linebreaks}}{% endautoescape %}
		  </p>
		</td>
	      </tr>
	      <tr>
		<td>
		  <p><a class="btn btn-primary" href="/detailedview/{{p.pk}}">Detailed View</a>
		  </p>
		  
		</td>
	      </tr>
	    </table>
	  </div>
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
