{% extends "./base.html" %}

{% block title %}View Problems{% endblock %}

{% block head %}<script type="text/javascript" language="JavaScript">
function HideContent(d) {
document.getElementById(d).style.display = "none";
}
function ShowContent(d) {
document.getElementById(d).style.display = "block";
}
function ReverseDisplay(d) {
if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
else { document.getElementById(d).style.display = "none"; }
}
</script>

{% endblock %}

{% block content %}
<table class="table">
<tbody>
<tr>
{% for labl,plist in allcats %}
<td>
<p>{{labl}}</p>
{% for problems,topic in plist %}
<p><a href="#typetopic{{labl}}{{topic}}">{{topic}} ({{problems.count}})</a></p>
{% endfor %}
</td>
{% endfor %}
</tr>
</tbody>
</table>

<!--(npa,'Algebra'),(npc,'Combinatorics'),(npga,'Games'),(npg,'Geometry'),(npn,'Number Theory'),(npo,'Other'))),-->
<table class="table">
<thead>
<tr>
<th>
Status
</th>
<th>Problem 1</th>
<th>Problem 2</th>
<th>Problem 3</th>
<th>Problem 4</th>
<th>Problem 5</th>
<th>Problem 6</th>
</tr>
</thead>
<tbody>
<tr>
{% for status,pnums in allnums %}
<td>
{{status}}
</td>
{% for nums in pnums %}
<td>
{% for num,lab,labl in nums %}
<a href="#typetopic{{status}}{{labl}}"> ({{num}}{{lab}})</a>
{% endfor %}
</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>


<p><a class="btn btn-primary" href="addproblem/">Add a problem</a></p>

{% for labl,plist in allcats %}

<a name="type{{labl}}"></a> 
<h1>{{labl}}</h1>

{% for problems,topic in plist %}
<a name="typetopic{{labl}}{{topic}}"></a> 
<h3>{{topic}}</h3>

{% if problems|length == 0 %}<p>No {{topic}} problems in this category.</p>
{% else %}
<table class="table">
{% for p in problems %}
<tr>
<td valign="top" class="col-sm-1"><br>
<p>{{p.label}}</p>

  <p>Author: {{p.current_version.author_name}}</p>
<!--  <label for="difficulty_{{p.pk}}"></label>-->
<p>Difficulty:</p>
  <p>
    <form action="." method="post">
      {% csrf_token %}
      <select name="difficulty_{{p.pk}}" onchange="this.form.submit()">
	<option value="1" {% if p.current_version.difficulty == "1" %}selected{% endif %}>1
	</option>
	<option value="2" {% if p.current_version.difficulty == "2" %}selected{% endif %}>2
	</option>
	<option value="3" {% if p.current_version.difficulty == "3" %}selected{% endif %}>3
	</option>
	<option value="4" {% if p.current_version.difficulty == "4" %}selected{% endif %}>4
	</option>
	<option value="5" {% if p.current_version.difficulty == "5" %}selected{% endif %}>5
	</option>
	<option value="6" {% if p.current_version.difficulty == "6" %}selected{% endif %}>6
	</option>
      </select>
    </form>
  </p>
<!--    <label for="status_{{p.pk}}">Move To:</label>      -->
<p>Move To:</p>
  <p>
    <form action="." method="post">
      {% csrf_token %}
      <select name="status_{{p.pk}}" onchange="this.form.submit()">
	<option value="NP" {% if p.problem_status == "NP" %}selected{% endif %}>New Problem
	</option>
	<option value="PN" {% if p.problem_status == "PN" %}selected{% endif %}>Propose for Current Year
	</option>
	<option value="PL" {% if p.problem_status == "PL" %}selected{% endif %}>Propose for Future Year
	</option>
	<option value="MI" {% if p.problem_status == "MI" %}selected{% endif %}>Needs Minor Revision
	</option>
	<option value="MJ" {% if p.problem_status == "MJ" %}selected{% endif %}>Needs Major Revision
	</option>
	<option value="TR" {% if p.problem_status == "TR" %}selected{% endif %}>Trash
	</option>
      </select>
    </form>
  </p>
  <p><a class="btn btn-primary" name="det_{{p.pk}}" href="detailedview/{{p.pk}}">Edit Details</a>
  </p>
  <p>{{p.versions.count}} Version{% if p.versions.count > 1%}s{% endif %}</p>

<p>Solution: {% if p.current_version.solutions.count > 0 %}
<span class="glyphicon glyphicon-ok" style="color:green"></span>
{% else %}
<span class="glyphicon glyphicon-remove" style="color:red"></span>
{% endif %}
</p>


</td>
<td>
<table width="100%">
<tr>
<td>
<p>
{% autoescape off %}{{p.current_version.problem_latex|linebreaks}} {% endautoescape %}
</p>
</td>
</tr>
<tr>
<td>
  <a href="javascript:ReverseDisplay('comment_{{p.pk}}')">
    Click to show/hide comments ({{p.comments.count}}).
  </a>

  <div id="comment_{{p.pk}}" style="display:none">
    {% for c in p.comments.all %}
    <div class="media">
      <p class="pull-right"><small>{{c.created_date}}</small></p>
      <div class="media-body">
	<h3 class="media-heading user_name">{{c.author_name}}</h3>
	<p>{{c.comment_text|linebreaks}}</p>
	
      </div>
    </div>
    {% endfor %}
  </div>
  
</td>
</tr>
<tr>
<td>
<p class="pull-right"><small>[{{p.label}}], Proposed on {{p.created_date}}</small></p>
</td>
</tr>
</table>
</td>
</tr>
{% endfor %}
</table>
{% endif %}
{% endfor %}
{% endfor %}

<a class="btn btn-primary" href="addproblem/">Add a problem</a>
<!--</div>-->

{% endblock %}
