{% extends "./base.html" %}

{% block title %}View Problems{% endblock %}

{% load static %}

{% load ratings %}

{% block head %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

{% endblock %}

{% block content %}


<nav id="navbar-topics" class="navbar navbar-light bg-light sticky-top">
<!--  <a class="navbar-brand" href="#">Navbar</a>-->
  <ul class="nav nav-pills">
{% for labl,short_label,plist in allcats %}
    <li class="nav-item">
      <a class="nav-link" href="#heading-{{short_label}}">{{labl}}</a>
    </li>
{% endfor %}
  </ul>
</nav>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-9">
      <div class="row">
	<table class="table">
	  <tbody>
	    <tr>
	      {% for labl,short_label,plist in allcats %}
	      <td>
		<p>{{labl}}</p>
		{% for status_topic in plist %}
		<p><a href="#typetopic{{status_topic.status}}{{status_topic.short_topic}}">{{status_topic.topic}} ({{status_topic.problems.count}})</a></p>
		{% endfor %}
	      </td>
	      {% endfor %}
	    </tr>
	  </tbody>
	</table>
      </div>
      <div class="row">
        <div class="col">
	  <div class="card">
	    <div class="card-header">
	      Problem Distribution Table
	    </div>
	    <div class="card-body">
	      <div class="row">
		<div class="col-5">
		  <form id="change-table-form">
<div class="form-check">
  <input class="form-check-input" type="checkbox" id="check-NP" name="NP" checked>
  <label class="form-check-label" for="check-NP">
    New Problems
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" id="check-PN" name="PN" checked>
  <label class="form-check-label" for="check-PN">
    Proposed for Current Year
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" id="check-NP" name="PL">
  <label class="form-check-label" for="check-PL">
    Proposed for Future Year
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" id="check-MI" name="MI">
  <label class="form-check-label" for="check-MI">
    Has Potential
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" id="check-MJ" name="MJ">
  <label class="form-check-label" for="check-MJ">
    Needs Major Revision
  </label>
</div>

		    <p><button type="submit" class="btn btn-primary mt-2">Refresh Table</button></p>
		  </form>
		</div>
		<div class="col-7">
		  <div class="float-center" id="dynamic-table-placeholder">
		    Table will be displayed here.
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
        </div>
      </div>

      <div class="row">
	<div class="col">
	<p><button class="btn btn-primary mt-2 add-problem-link">Add a problem</button></p>
	</div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-12">
          <div class="list-group-horizontal">
            <a href="/" class="p-2 list-group-item{% if not difficulty %} active{% endif %}">
              All Difficulties
            </a>
            <a href="/?difficulty=1" class="p-2 list-group-item{% if difficulty == '1' %} active{% endif %}">Difficulty 1</a>
            <a href="/?difficulty=2" class="p-2 list-group-item{% if difficulty == '2' %} active{% endif %}">Difficulty 2</a>
            <a href="/?difficulty=3" class="p-2 list-group-item{% if difficulty == '3' %} active{% endif %}">Difficulty 3</a>
            <a href="/?difficulty=4" class="p-2 list-group-item{% if difficulty == '4' %} active{% endif %}">Difficulty 4</a>
            <a href="/?difficulty=5" class="p-2 list-group-item{% if difficulty == '5' %} active{% endif %}">Difficulty 5</a>
            <a href="/?difficulty=6" class="p-2 list-group-item{% if difficulty == '6' %} active{% endif %}">Difficulty 6</a>
          </div>
	  <input type="hidden" id="difficulty" value="{% if difficulty %}{{difficulty}}{% endif %}">
        </div>
      </div>

<!--Problems start here-->
      <div class="row">
	<div class="col">
	  {% for labl,short_label,plist in allcats %}
	  <a name="type{{short_label}}"></a> 
	  <h1 id="heading-{{short_label}}" class="navbar-headings">{{labl}} <button class="btn btn-secondary btn-sm refresh-status-link" id="refresh-status_{{short_label}}"><i class="fa fa-refresh" id="refresh-span_{{short_label}}"></i></button></h1>

	  <div id="status-{{short_label}}">
	    {% include 'problemeditor/typeview-statusdiv.html' %}
	  </div>
	  {% endfor %}
	</div>
      </div>
      <div class="row">
	<div class="col">
	<p><button class="btn btn-primary mt-2 add-problem-link">Add a problem</button></p>
	</div>
      </div>
    </div>
    <div class="col-sm-3">
      <h2>Addition Log</h2>
      <div class="list-group">
	{% if log.count == 0 %}<i>Nothing currently in the log</i>{% endif %}
	{% for entry in log %}
	<a href="{{entry.change_message}}" class="list-group-item"> {{entry.object_repr}} ({{entry.action_time}})</a>
	
	{% endfor %}
      </div>
    </div>
  </div>
</div>
<div id="difficulty-changed" style="position:fixed;right:15px;bottom:15px;margin:0;padding:0;display:none;">
  <div class="alert alert-success">
    Difficulty changed successfully.
  </div>
</div>
<div id="status-changed" style="position:fixed;right:15px;bottom:15px;margin:0;padding:0;display:none;">
  <div class="alert alert-success">
    Status changed successfully.
  </div>
</div>
<div id="topic-changed" style="position:fixed;right:15px;bottom:15px;margin:0;padding:0;display:none;">
  <div class="alert alert-success">
    Topic changed successfully.
  </div>
</div>
<div id="added-to-list" style="position:fixed;right:15px;bottom:15px;margin:0;padding:0;display:none;">
  <div class="alert alert-success">
    Problem added to list.
  </div>
</div>
<div id="prev-added-to-list" style="position:fixed;right:15px;bottom:15px;margin:0;padding:0;display:none;">
  <div class="alert alert-warning">
    Problem has already been added to list.
  </div>
</div>
<div id="problem-added" style="position:fixed;right:15px;bottom:15px;margin:0;padding:0;display:none;">
  <div class="alert alert-success">
    New problem added.
  </div>
</div>
<div class="modal fade" id="solution-placeholder" role="dialog"></div>
<div class="modal fade" id="add-problem-placeholder" role="dialog"></div>
<div class="modal fade" id="comment-placeholder" role="dialog"></div>
<div class="modal fade" id="edit-latex-placeholder" role="dialog"></div>

<script>
{% if difficulty %}
$(document).ready(function() {
  $(".typetopic-list-group").each(function(index) {
    if ($(this).children().length == 1) {
      $(this).children().each(function(index2) {
        $(this).show();
      });
    }
  });
});
{% endif %}
$(document).on('submit',"#change-table-form",function(e) {
  e.preventDefault();
  $.ajax({
    type: 'GET',
    url: "/ajax/get-new-table",
    data: $(this).serialize(),
    dataType: 'json',
    success: function(result) {

$("#dynamic-table-placeholder").html(result['table']);
    }
  });
  return false;
});


$(document).on('click',".refresh-status-link", function(e) {
  e.preventDefault();
  var st = $(this).attr('id').split('_')[1];
$("#refresh-span_"+st).addClass('fa-spin');
  $.ajax({
    type: 'POST',
    url: "/ajax/refresh-status/",
    data: "st="+st+"&diff="+$("#difficulty").val(),
    dataType: 'json',
    success: function(result) {

      $("#status-"+st).html(result['refreshed-html']);
      MathJax.Hub.Queue(["Typeset",MathJax.Hub,"status-"+st]);


  $(".typetopic-list-group").each(function(index) {
    if ($(this).children().length == 1) {
      $(this).children().each(function(index2) {
        $(this).show();
      });
    }
  });
$("#refresh-span_"+st).removeClass('fa-spin');




    }
  });
  return false;
});
{% include 'problemeditor/prow-scripts.js' %}

</script>
{% endblock %}
